html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:300italic,400");
html {
  font-size: 62.5%;
}
body {
  font-size: 18em;
  font-size: 1.8rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: 200;
  background-color: #f8f8f8;
  color: #080808;
  line-height: 1.2;
}
h1 {
  font-size: 24em;
  font-size: 2.4rem;
  margin: 20px 0;
}
a {
  color: #6cbad8;
  font-weight: 200;
}
p {
  margin: 10px 5px;
}
dd {
  padding-left: 10em;
  padding-left: 1rem;
}
#container {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}
.sentence dt {
  color: #68cfc3;
  padding-left: 5em;
  padding-left: 0.5rem;
}
