@import 'nib'


global-reset()

bgcolor         = #f8f8f8
fcolor          = #080808
//light-blue
link-color      = #6CBAD8
link-color-dark = #007FB1
//light-greeen
light-green     = #EBF182
//green
cgreen=#68CFC3
cgreen-dark=#1DAF9E

@import url(http://fonts.googleapis.com/css?family=Josefin\+Sans:300italic,400)

// Font size using rem
// font-size :6pt、7pt、8pt、9pt、10pt、11pt、12pt、14pt、18pt、21pt、24pt、36pt、48pt、60pt、72pt
html
    font-size:62.5%

body
    font-size:18em
    font-size:1.8rem
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif
    font-weight: 200
    background-color:bgcolor
    color:fcolor
    line-height:1.2


h1
    font-size:24em
    font-size:2.4rem
    margin:20px 0

a
    color:link-color
    font-weight: 200

p
    margin:10px 5px

dd
    padding-left:10em
    padding-left:1.0rem

#container
    width:800px
    max-width:90%
    margin:0 auto

.aio
    dt
        color:cgreen
        //background-color:light-green
        padding-left:5em
        padding-left:.5rem
//    dd
//        background-color:light-green

